*.*scc
*.FileListAbsolute.txt
*.aps
*.bak
*.[Cc]ache
*.clw
*.eto
*.fb6lck
*.fbl6
*.fbpInf
*.ilk
*.lib
*.log
*.ncb
*.nlb
*.obj
*.patch
*.pch
*.pdb
*.pidb
*.plg
*.[Pp]ublish.xml
*.rdl.data
*.sbr
*.scc
*.sig
*.sqlsuo
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.cs~*
*.*~
*.orig
[Bb]in
[Dd]ebug*/
test-results
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.userprefs
NUnitResults.xml
.#*.*
**/exit.txt
*.dcu
*.~*
*.db.lock.db
*.history
**/Visualizer/**
**/Log/**
*.tcCfgExtender
*/Visualizer/*
*.tcLS
*.tcLogs
**/ODT/**
